@charset "UTF-8";
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
.row{
    justify-content: space-around;
}
/* Footer */
footer {
    background-color: #000091;
    color: white;
    padding: 40px 0;
}

.footer-links h5 {
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-links ul {
    list-style: none;
    padding-left: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: white;
    text-decoration: none;
}

.social-icons a {
    color: white;
    font-size: 1.5rem;
    margin-right: 15px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #e1000f;
}