@charset "UTF-8";
 :root {
            --redFrance: #e1000f;
            --blueFrance: #000091;
            --darker-blue: #060d2a;
        }
        
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f5f5f5;
            background: linear-gradient(rgba(0, 0, 45, 0.7), rgba(0, 0, 145, 0.8)), 
                        url('https://images.unsplash.com/photo-1540747913346-19e32dc3e97e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1905&q=80');
            background-size: cover;
            background-position: center;
        }
        .hero-section {
            
            color: white;
            padding: 96px 0 50px 0;
            height: 50px;
            display: flex;
            align-items: center;
        }
        .hero-title {
            color: var(--redFrance);
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 20px;
        }
        
        .hero-subtitle {
            font-size: 1.4rem;
          
        }
    .card-header-custom {
      background-color: var(--blueFrance) !important;
      color: var(--redFrance) !important;
    }
  
    .btn-primary-custom {
      background-color: var(--blueFrance)!important;
      border-color: var(--blueFrance)!important;
      color: white !important;
    }
    
    .btn-primary-custom:hover {
      background-color: #cc0000 !important;
      border-color: #cc0000 !important;
      color: white !important;
    }
    
    footer {
      background-color: var(--blueFrance);
      color: white;
      padding: 20px 0;
      text-align: center;
    }
    
    .form-icon {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      color: #6c757d;
    }
    
    .form-control-icon {
      padding-left: 35px;
    }